/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans:wght@400;700&display=swap');

/* common style */
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #FFFFFF;
}
.container{
    margin: auto;
    width: 1300px;
}
/* .first-section{
background-color: beige;
} */
.title{
    font-size: 18px;
    /* font-weight: 700; */
}
.title-2{
    font-size: 35px;
}
.btn-nur{
    background-color: orange;
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 8px;
    font-size: 16px;    
    
}
.btn-nur-ten{
    background-color: orange;
    color: white;
    height: 120px;
    width: 200px;
    border: none;
    border-radius: 8px;
    font-size: 30px;
        
}
.small-text{
    font-size: 12px;
}



/* Navigation */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.navber a{
    text-decoration: none;
    margin-right: 30px;
    color: #424242;;
}
.navber a:hover{
    color: blue;
    font-size: 22px;    
}

/* banner Section */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.banner-info h2{
    text-align: center;
}
.banner-info p{
    color: #727272;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}
.banner-info button{
    margin-left: 400px;
}
.banner-image img{
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* second section */

.second-div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 75px;
    flex: 1;
}
.second-image-mt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.second-info h2{
    font-size: 40px;
}
.second-info .h2-clr{
    color: #727272;
}
.second-info .h2-orange{
    color: #FF900E;
}
.second-info p{
    text-align: justify;
    margin-bottom: 40px;
}

/* third section  */

.third-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 120px;
}
.informations{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-header-div h2{
    font-size: 45px;
    border-left: 7px solid orange;
    padding: 0px 0px 0px 15px;
}
.info-header-div p{
    text-align: justify;
    font-size: 16px;
    color: #727272;
    margin-left: 20px;
    margin-right: 20px;
}
.info-comon-div{
    
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.info-comon-div h5{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.info-comon-div p{
    text-align: left;
    color: #727272;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.third-sec-img{
    position: relative;
}
.third-sec-img .btn-nur-ten{
    position: absolute;
    top: 86%;
    left: 1%;
}
.third-sec-img img{
    width: 100%;
    
}

/* fourth section */
.fourth-section{
    margin-top: 60px;
}
.fourth-section p{
    font-size: 16px;
    text-align: left;
    color: #727272;
}






















/* media Query */


@media screen and (max-width: 577px) {
    .container{
        margin: auto;
        width: 100%;
    }
    .navigation{
        flex-direction: column;        
    }
    .banner-info button{
        margin-left: 130px;
        
    }
    /* .navber{
        display: flex;
        flex-direction: column;        
    } */
    .second-div{
        flex-direction: column-reverse;
    }
    .second-image-mt{
        grid-template-columns: repeat(1, 1fr);
    }
    .second-image-mt .second-image-cl img{
        width: 100%;
        height: auto;
    }
    
    .third-section{
        grid-template-columns: repeat(1, 1fr);        
    }
    .btn-nur-ten{
        display: none;
    }
    
}



/*
 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_on_image
 -> button upore uthanor source

 */
