/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans:wght@400;700&display=swap');

/* common style */
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #FFFFFF;
}
.container{
    margin: auto;
    width: 1300px;
}
/* .first-section{
background-color: beige;
} */
.title{
    font-size: 20px;
    /* font-weight: 700; */
}
.title-2{
    font-size: 40px;
}
.btn-nur{
    background-color: orange;
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 8px;
    font-size: 16px;    
}



/* Navigation */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.navber a{
    text-decoration: none;
    margin-right: 30px;
    color: #424242;;
}
.navber a:hover{
    color: blue;
    font-size: 22px;    
}

/* banner Section */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.banner-info h2{
    text-align: center;
}
.banner-info p{
    color: #727272;
    display: flex;
    justify-content: center;
    text-align: center;
}
.banner-info button{
    /* aita center hocce na */
}
.banner-image img{
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* second section */

.second-div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 75px;
    flex: 1;
}
.second-image-mt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.second-image-mt .second-image-cl img{
    width: 100%;
    height: auto;
}
.second-info h2{
    font-size: 40px;
}
.second-info .h2-clr{
    color: #727272;
}
.second-info .h2-orange{
    color: #FF900E;
}
.second-info p{
    text-align: justify;
    margin-bottom: 40px;
}

















/* media Query */


@media screen and (max-width: 577px) {
    .container{
        margin: auto;
        width: 100%;
    }
    .navigation{
        flex-direction: column;        
    }
    /* .navber{
        display: flex;
        flex-direction: column;        
    } */
    .second-div{
        flex-direction: column;
    }
    .second-image-mt{
        grid-template-columns: repeat(1, 1fr);
    }
}



/*
 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_on_image
 -> button upore uthanor source

 */
